<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Great news!</h1>
    <p>
      <strong><%= @quote.name %> </strong> is waiting to hear from you at <strong><%= @quote.phone %></strong>
    </p>
    <p>to sell a <%= @quote.device%> <%=@quote.model%> on the <%= @quote.network %> with a memory size of <%= @quote.size%>GB and in <%= @quote.condition %> condition.<br>
    </p>
    <p>The quoted price is <strong> <%=@quote.price%> </strong>.
    </p>

    <p>Thanks and have a great day!</p>
  </body>
</html>
