<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Great news!</h1>
    <p>
      <strong><%= @quote.name %> </strong> is waiting to hear from you at <strong><%= @quote.phone %></strong>
    </p>
    <p>Device: <%= @quote.device%></p>
    <p>Model: <%=@quote.model%></p>
    <p>Network: <%= @quote.network %></p>
    <p>Size: <%= @quote.size %> GB</p>
    <p>Condition: <%= @quote.condition %></p>
    <br>
    <p>The quoted price is <strong> <%=@quote.price/100%> </strong>.</p>

    <p>Thanks and have a great day!</p>
  </body>
</html>
